.flex-container {
    display:flex;
    align-items: center;
     
           }
body {

    width:100vw;
    max-width:1920px;
    @media screen and (orientation: portrait) {
      
        width:100vw;
    }
}

header { 
        max-width:1920px;         
        max-height: 32px;
        height: 3vh;
        margin-top: 6vh;
        position: fixed;
        z-index: 10;
        justify-content:space-between;
        right: 0;
        left: 0;         
        
        @media screen and (orientation: portrait) {
           margin-top: unset;
           
        }     

    .site-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2vh;
                           
          
    }
    }
    .left-controls {
        
        margin-left: 3.2vh;
        
    }

    .link-fonts {
        @extend .nunito-extrabold;
        font-size: 1.3vh;
        color:#1a1a1d;
        text-decoration: unset;
        
        &:hover {
           color:rgba(26, 26, 29, 0.5);
        }
    }
    .search-controls {

        margin-right: 3.4vw;
    }
    
    .icon-button {
        background-color: transparent;
        border:none;
        outline: unset;
        padding: 0;
            }
    .clients-link {
        margin-right:2.4vw;
        margin-left:2.7vw;
           }
    footer {
            max-height: 230px;
            
    .footer-info       {
            padding:2.55vw 3.17vw 2.55vw 3.17vw;
            justify-content:space-between;
            height: 6.4vw;
    }
          
     .right-part {
            height: 100%;
            position:relative;
            

        }      
       .newsletter {
        font-size: 0.7vw;
        line-height: 2.14;
        letter-spacing: 2.8px;
        color:$primary-color;
        text-transform: uppercase;
       }   

       .letter {
       width: 20px;
       height: 16px;
       }     

       .social-nets {
           right:0;
           bottom:0;
           width:9.58vw;
           position: absolute;
           justify-content: space-between;
           @media screen and (orientation: portrait) {
               
           left:0;  
           right:unset;         
        }
           .social-net {
           cursor: pointer;
           @media screen and (orientation: portrait) {
             
            margin-right:2vw;
         }

                   }
       }

       .left-part {
           height:100%;
           max-width:458px;
           width:24vw;
           position: relative;
           display:flex;
           flex-direction: column;
         

           
       }
       .designed-by {
           position: absolute;
           bottom:0;
           left:0;
           color: #77777e;
           font-size: 0.75vw;
           
                 }
         }
    